body{
    margin: 0px;
    padding: 0px;
    background-image: url(./image/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    background-color: rgba(73, 75, 17, 0.356);
    width: 15%;/* for repensive layout width  should be in %*/
    /*height: 100%; height not fixed, it is increse height basd on data*/ 
    height: 100vh;/* visable screen  height shoud be in vh*/
}
#cont{
    margin: 0px;
    /* orange */
    padding: 0px;
    /* green */
    list-style-type:none;
}
a{
    text-decoration: none;
    color: rgb(217, 95, 30);
    padding: 20px;
    display: block;
}
a:hover{
    background-color: rgb(150, 25, 25);
}
/* -------dropdown horizontal-------- */
  /* #manu{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    background-color: rgb(215, 168, 48);
    position: relative;
    display: none;


} */

/* -----dropdown vertical------ */
#manu{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    background-color: rgb(215, 168, 48);
    position: absolute;
    left:100%;/* x axis*/
    top: 0%;/* y axis */
     display: none; 
   
 
}
#drop{
    position: relative;
}
#drop:hover #manu{
display: block;
}
